.App {
  font-family: sans-serif;
  text-align: center;
}

.episode-heading{
  min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.episode-box{
  width: 30%;
    background: #808080;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
}
.page-link{
  cursor: pointer;
}